/* styles.css */
@charset "UTF-8";

body {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.registration-body {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 15px;
}

.login-container {
	text-align: center;
}

.login-box {
	background-color: #ffffff;
	padding: 45px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: 0 auto;
}

.registration-container {
	text-align: center;
}

.registration-box {
	background-color: #ffffff;
	padding: 45px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 90%;
}

.dashboard-container {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 20px auto;
}

.dashboard-header {
	background-color: #007BFF;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 10px 10px 0 0;
}

.dashboard-heading {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.dashboard-info {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-info p {
	font-size: 16px;
	color: #333;
	margin: 10px 0;
}

.dashboard-list {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.dashboard-list li {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.create-portfolio-button {
	display: inline-block;
	background-color: #007BFF;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
	font-size: 16px;
	cursor: pointer;
}

.create-portfolio-button:hover {
	background-color: #0056b3;
}

h2 {
	color: #333;
	margin-bottom: 20px;
}

.input-container {
	margin: 20px 0;
	text-align: left;
	/* Left-align input fields within the container */
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	/* Increased margin-bottom */
	color: #555;
}

input[type="text"],
input[type="password"] {
	width: 90%;
	/* Both input fields have the same width */
	padding: 15px;
	/* Increased padding */
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
}

button {
	background-color: #4D4DA8;
	color: #fff;
	padding: 13px 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
	margin-bottom: 5px;
}

button:hover {
	background-color: #0056b3;
}

a {
	text-decoration: none;
	color: #007BFF;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

/* Dashboard-specific styles */
.dashboard-content {
	margin-top: 20px;
}

.dashboard-content p {
	font-size: 16px;
	color: #333;
	margin: 10px 0;
}

.dashboard-content .button-container {
	text-align: center;
	margin-top: 20px;
}

.profit-loss {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}

.dashboard-container {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 20px auto;
	display: flex;
}

.dashboard-info {
	padding: 20px;
	flex: 1;
}

.value-box {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex: 1;
	width: 100%;
}

.current-value,
.invested-amount,
.profit-loss {
	margin-bottom: 10px;
}

.profit-loss {
	font-weight: bold;
}

.top-bar {
	background-color: #007BFF;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}


.topnav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: black;
	overflow: hidden;
}

.topnav a:hover {
	background-color: #ddd;
	color: #4D4DA8;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.active {
	background-color: darkslateblue;
	color: white;
}

.dashboard-container {
	margin-top: 60px;
	/* Ensure content starts below the header */
}

.top-bar-buttons {
	max-width: 800px;
	margin: 0 auto;
}


.dashboard-welcome {
	position: absolute;
	top: 45px;
	left: 15px;
	font-family: Courier New;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #333;
	text-align: left;
}

/* Adjust styles for the content below the header */

h1 {
	color: #333;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 20px auto;
}

th,
td {
	border: 1px solid #ddd;
	padding: 12px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

/* Styles for individual stock items */
.stock-item {
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding: 20px;
}

.stock-symbol {
	font-weight: bold;
	font-size: 18px;
}

.stock-price {
	color: #007bff;
	font-size: 24px;
}

.stock-change {
	color: green;
}

.stock-change.percent {
	color: red;
}

.logout-button {
	position: absolute;
	top: 4px;
	right: 8px;
}

.logout-button a {
	background-color: #FF5733;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
}

.logout-button a:hover {
	background-color: #E74C3C;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px 0;
}

.linkedin-icon {
	color: white;
	text-decoration: none;
	font-size: 20px;
	display: contents;
	margin: 10px auto 0;
}

/* Add this CSS in your stylesheet or within a <style> tag in your HTML */
.portfolio-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	/* Button background color */
	color: #fff;
	/* Text color */
	text-decoration: none;
	/* Remove underline */
	border: none;
	border-radius: 5px;
	/* Rounded corners */
	cursor: pointer;
	transition: background-color 0.3s;
	/* Smooth color transition on hover */
}

.portfolio-button:hover {
	background-color: #0056b3;
	/* Change color on hover */
}

.dashboard {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
	display: grid;

	justify-content: normal;
	/* Align content at the top */
	align-items: normal;
	/* Center horizontally */
	min-height: 100vh;
	/* Minimum height of the viewport */
	margin: 10px;
	padding: 0;
}

.container {
	max-width: 400px;
	margin: 20px auto;
	padding: 50px;
	border-radius: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: white;
}

.createportfolio-container {
	max-width: 400px;
	margin: 20px;
	padding: 50px;
	border-radius: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: white;
}

input[type="submit"] {
	background-color: darkslateblue;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

input[type="submit"]:hover {
	background-color: #0056b3;
}

.heart-icon {
	color: red;
}

.name {
	display: inline-block;
	margin-right: 10px;
}


