<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="dashboard">
		<p class="dashboard-welcome">Hello, <span th:text="${username}"></span></p>
		<header class="top-bar">
			<div class="top-bar-buttons">
				<a class="header-button" href="portfolios.html">Your Portfolios</a>
				<a class="header-button" href="stock.html">Stock</a>
			</div>
		</header>
		<div class="dashboard-container">
			<div class="dashboard-info">
				<div class="value-box">
					<p class="current-value">Current Value: $<span th:text="${currentValue}"></span></p>
					<p class="invested-amount">Invested Value: $<span th:text="${investedAmount}"></span></p>
					<div class="profit-loss">
						<!-- Calculate profit or loss using Thymeleaf expressions -->
						<span
							th:text="${currentValue > investedAmount ? 'Profit: $' + (currentValue - investedAmount) : 'Loss: $' + (investedAmount - currentValue)}"></span>
					</div>
				</div>
			</div>
		</div>


		<div class="button-container">
			<a class="button" href="portfolios.html">Go to Portfolios</a>
		</div>
	</div>
</body>

</html>