	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Login Page</title>
	    <link rel="stylesheet" href="/css/styles.css">
	    <link rel="icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
	    <div class="login-container">
	        <div class="login-box">
				<img src="/logo.png" alt="Company Logo" width="200" height="90">
	            <form th:action="@{/login}" method="POST">
	                <div class="input-container">
	                    <label for="username">Username:</label>
	                    <input type="text" id="username" name="username" placeholder="Enter your email" th:required="true">
	                </div>
	                <div class="input-container">
	                    <label for="password">Password:</label>
	                    <input type="password" id="password" name="password"  placeholder="Enter your password" th:required="true">
	                </div>
	                <button type="submit">Login</button>
	            </form>
	            <p>Don't have an account? <a href="/register">Register here</a></p>
	        </div>
	    </div>
	</body>
	</html>
