<!DOCTYPE html>
<html>
<head>
    <title>Portfolios</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div th:replace="header :: header"></div>
    <h1 class="portfolio-heading">Portfolios</h1>

    <div class="portfolio-container">
        <div class="header">
            <div>Portfolio Name</div>
            <div>Value</div>
            <div>Return Percentage</div>
        </div>

        <div th:each="portfolio : ${portfolios}" class="portfolio-card" th:data-url="@{'/user/portfolio/' + ${portfolio.id}}"
     onclick="window.location.href=this.getAttribute('data-url')">
            <div class="portfolio-name" th:text="${portfolio.name}"></div>
            <div class="portfolio-values">
                <p th:text="'Current Value: $' + ${portfolio.current_value}"></p>
                <p th:text="'Invested Value: $' + ${portfolio.invested_value}"></p>
            </div>
            <div class="portfolio-return" 
                 th:classappend="${(portfolio.current_value - portfolio.invested_value) < 0} ? 'negative-return' : 'positive-return'"
                 th:text="'Return: ' + ${#numbers.formatDecimal((portfolio.current_value - portfolio.invested_value) * 100.0 / portfolio.invested_value, 1, 2)} + '%'"></div>
        </div>
    </div>

     <div th:replace="footer :: footer"></div>
</body>
</html>
