<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Page</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
</head>

<body class="registration-body">
	<div class="registration-container">
		<div class="registration-box">
			<img src="/logo.png" alt="Company Logo" width="170" height="200">
			<form th:action="@{/registerSuccess}" method="POST">
				<div class="input-container">
					<label for="full_name">Name:</label>
					<input type="text" id="full_name" name="full_name" placeholder="Enter your name" required>
				</div>
				<div class="input-container">
					<label for="email">Email:</label>
					<input type="text" id="email" name="email" placeholder="Enter your email" required>
				</div>
				<div class="input-container">
					<label for="mobile_number">Mobile Number:</label>
					<input type="text" id="mobile_number" name="mobile_number" placeholder="Enter your mobile number"
						required>
				</div>
				<div class="input-container">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" placeholder="Enter your password" required>
				</div>
				<button type="submit">Register</button>
			</form>
			<p>Already have an account? <a href="/login">Login here</a></p>
		</div>
	</div>
</body>
</html>